.header {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: sans-serif;
    color: black;
  }
  
  .logo i {
    margin-right: 10px;
  }
  